{{ 'footer.css' | asset_url | stylesheet_tag }}

{% style %}
  .footer-icon {
    background-image: url({{'up-small.svg'|asset_url}});
  }

  .footer-icon.close {
    background-image: url({{'down-small.svg'|asset_url}});
  }
{% endstyle %}

<script src="{{ 'footer.js' | asset_url }}" defer></script>

<footer class="footer" role="contentinfo">
  <div class="wrapper">
    <div class="footer__container">
      {%- for block in section.blocks -%}
        {% if block.type == 'block_links' %}
          <details
            class="footer__section"
            open
          >
            <summary class="footer__title">
              {{ block.settings.title }}
              <i class="footer-icon"></i>
            </summary>
            <ul class="footer__list">
              {% assign list_handle = block.settings.links %}
              {% for link in linklists[list_handle].links %}
                <li class="footer__item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </details>
        {% endif %}
      {%- endfor -%}
    </div>

    <div class="footer__bottom">
      <p>© 2025 {{ 'footer.rights' | t }}</p>
      <ul class="footer__bottom-links">
        {% if section.settings.bottom_links %}
          {% for link in linklists[section.settings.bottom_links].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "bottom_links",
      "label": "t:labels.footer.bottom_links"
    }
  ],
  "blocks": [
    {
      "type": "block_links",
      "name": "t:labels.footer.block_links",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:labels.footer.title"
        },
        {
          "type": "link_list",
          "id": "links",
          "label": "t:labels.footer.links"
        }
      ]
    }
  ],
  "max_blocks": 4
}
{% endschema %}
