{{ 'header.css' | asset_url | stylesheet_tag }}

{% style %}
  .header__cart {
    background-image: url({{'cart-icon.svg'|asset_url}});
  }

  .header__burger-menu {
    background-image: url({{'frame.svg'|asset_url}});
  }

  @media (max-width: 656px) {
    .header__burger-menu.open {
      background-image: url({{'small-x.svg'|asset_url}});
    }
  }
{% endstyle %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('.header__burger-menu').addEventListener('click', (e) => {
      e.currentTarget.classList.toggle('open');
      document.querySelector('.header__menu').classList.toggle('open');
    });
  });
</script>

<header class="header" role="banner">
  <div class="wrapper">
    <i
      class="header__burger-menu"
      role="button"
      aria-label="{{ 'header.open_menu' | t }}"
    ></i>

    <a href="{{ routes.root_url }}">
      {% if section.settings.logo %}
        <img
          class="header__logo"
          src="{{ section.settings.logo | image_url }}"
          alt="{{ shop.name | escape }}"
          width="116"
          height="40"
          loading="lazy"
        >
      {% else %}
        <img
          class="header__logo"
          src="{{ 'logo.svg' | asset_url }}"
          alt="{{ shop.name | escape }}"
          width="116"
          height="40"
          loading="lazy"
        >
      {% endif %}
    </a>

    <nav class="header__menu" aria-label="{{ 'header.main_nav' | t }}">
      <ul class="header__menu-list">
        {% if section.settings.menu %}
          {% assign menu_handle = section.settings.menu %}
          {% for link in linklists[menu_handle].links %}
            <li class="header__link">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav>

    <a
      href="{{ routes.cart_url }}"
      aria-label="{{ 'header.open_cart' | t }}"
    >
      <i class="header__cart"></i>
    </a>
  </div>
</header>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:labels.logo"
    }
  ]
}
{% endschema %}
